# example.pcf
set_io --warn-no-port leds[0] B5
set_io --warn-no-port leds[1] B4
set_io --warn-no-port leds[2] A2
set_io --warn-no-port leds[3] A1
set_io --warn-no-port leds[4] C5
set_io --warn-no-port leds[5] C4
set_io --warn-no-port leds[6] B3
set_io --warn-no-port leds[7] C3
set_io --warn-no-port clk J3

# FTDI
set_io --warn-no-port ftdi_tx B12
set_io --warn-no-port ftdi_rx B10

set_io --warn-no-port adc_di B16

#set_io --warn-no-port adc_do[0] D14
#set_io --warn-no-port adc_do[1] D15
#set_io --warn-no-port adc_do[2] E14
#set_io --warn-no-port adc_do[3] F15
#set_io --warn-no-port adc_do[4] G15
#set_io --warn-no-port adc_do[5] H14
#set_io --warn-no-port adc_do[6] F14
#set_io --warn-no-port adc_do[7] J14
#set_io --warn-no-port adc_do[8] K16
#set_io --warn-no-port adc_do[9] L16
#set_io --warn-no-port adc_do[10] T3
#set_io --warn-no-port adc_do[11] R2
#set_io --warn-no-port adc_do[12] T2
#set_io --warn-no-port adc_do[13] N10
#set_io --warn-no-port adc_do[14] T1
#set_io --warn-no-port adc_do[15] T14
#set_io --warn-no-port adc_do_strobe A5

set_io --warn-no-port dc_data_out[0] D14
set_io --warn-no-port dc_data_out[1] D15
set_io --warn-no-port dc_data_out[2] E14
set_io --warn-no-port dc_data_out[3] F15
set_io --warn-no-port dc_data_out[4] G15
set_io --warn-no-port dc_data_out[5] H14
set_io --warn-no-port dc_data_out[6] F14
set_io --warn-no-port dc_data_out[7] J14
set_io --warn-no-port dc_data_out[8] K16
set_io --warn-no-port dc_data_out[9] L16
set_io --warn-no-port dc_data_out[10] T3
set_io --warn-no-port dc_data_out[11] R2
set_io --warn-no-port dc_data_out[12] T2
set_io --warn-no-port dc_data_out[13] N10
set_io --warn-no-port dc_data_out[14] T1
set_io --warn-no-port dc_data_out[15] T14
set_io --warn-no-port dc_data_strobe A5


set_io --warn-no-port lut_wr_clk B15
set_io --warn-no-port lut_wr_en T5
set_io --warn-no-port lut_wr_addr[0] R5
set_io --warn-no-port lut_wr_addr[1] C6
set_io --warn-no-port lut_wr_addr[2] B6
set_io --warn-no-port lut_wr_addr[3] A6
set_io --warn-no-port lut_wr_addr[4] B7
set_io --warn-no-port lut_wr_addr[5] C7
set_io --warn-no-port lut_wr_addr[6] B8
set_io --warn-no-port lut_wr_addr[7] A7
set_io --warn-no-port lut_wr_addr[8] A9
set_io --warn-no-port lut_wr_addr[9] B9
set_io --warn-no-port lut_wr_addr[10] A10
set_io --warn-no-port lut_wr_data[0] P2
set_io --warn-no-port lut_wr_data[1] A11
set_io --warn-no-port lut_wr_data[2] L3
set_io --warn-no-port lut_wr_data[3] B11
set_io --warn-no-port lut_wr_data[4] N2
set_io --warn-no-port lut_wr_data[5] B13
set_io --warn-no-port lut_wr_data[6] C9
set_io --warn-no-port lut_wr_data[7] A16
set_io --warn-no-port lut_wr_data[8] A15
set_io --warn-no-port lut_wr_data[9] H2
set_io --warn-no-port lut_wr_data[10] J2
set_io --warn-no-port lut_wr_data[11] T7


